<h1>Add a restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>

  <div class="container">
    <!-- [...] all the fields -->
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit "add a restaurant", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>
<%= link_to "back to home", restaurants_path %>
